<h1>New Posts for the Period: {{date}}</h1>
<ul>
  {{#each posts}}
    <li>
      <h2>{{title}}</h2>
      <h3>{{announcement}}</h3>
      <p>Author: {{author}}</p>
      <p>ID: {{id}}</p>
      <p>Posted at: {{postedAt}}</p>
      <p>Content URL: <a href="{{url}}">{{url}}</a></p>
      <p>Description: {{description}}</p>
      <p>Tags: {{tags}}</p>
      <p>Status: {{postStatus}}</p>
      <p>Likes: {{likeCount}}, Comments: {{commentCount}}, Reposts: {{repostCount}}</p>
      <div>
        <p>Content:</p>
        <p>{{text}}</p>
      </div>
    </li>
  {{/each}}
</ul>
